<h1>Song Form</h1>

<%= form_for(@song) do |f| %>
<label>Title</label><br>
<%= f.text_field :title %>
<label>Year:</label><br>
<%= f.date_field :release_year %>
<label>Released</label><br>
<%= f.text_field :released %>
<label>Artist</label><br>
<%= f.text_field :artist_name %>
<label>Genre</label><br>
<%= f.text_field :genre %>
<%= f.submit %>

<% end %>
